# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: majestic-contact-form
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs12.x
  memorySize: 256
  timeout: 300
  region: eu-west-1
  deploymentBucket:
    name: ${env:SERVERLESS_DEPLOYMENT_BUCKET, 'majestic-private'}
  iamRoleStatements:
    -  Effect: "Allow"
       Action:
         - "s3:PutBucketNotification"
       Resource:
         - arn:aws:s3:::${env:SERVERLESS_DEPLOYMENT_BUCKET, 'majestic-private'}
  httpApi:
    cors: false
  logs:
    httpApi: true
package:
  exclude:
    - .*/**
  include:
    - handler.js
    - node_modules/**

plugins:
  - serverless-prune-plugin
#  - serverless-domain-manager


functions:
  contactsend:
    handler: handler.send
    name: majestic-contact-send
    role: sendRole
    timeout: 28
    environment:
      REDIRECT_LOCATION: ${env:MAJESTIC_REDIRECT_LOCATION, 'https://www.majestic-motors.co.uk/thanks'}
      CONTACT_DESTINATION: info@majestic-motors.co.uk
      SENDER: info@majestic-motors.co.uk
    events:
      - httpApi:
          method: POST
          path: /contact
resources:
  Resources:
    sendRole:
      Type: "AWS::IAM::Role"
      Properties:
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: "Allow"
              Principal:
                Service:
                  - "lambda.amazonaws.com"
              Action: "sts:AssumeRole"
        ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
          - arn:aws:iam::aws:policy/service-role/AWSLambdaENIManagementAccess
        Policies:
          - PolicyName: "EnableLogging"
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: "Allow"
                  Action:
                    - "logs:CreateLogGroup"
                    - "logs:CreateLogStream"
                    - "logs:PutLogEvents"
                  Resource: "arn:aws:logs:*:*:*"
          - PolicyName: "SendEmail"
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: "Allow"
                  Action:
                    - "ses:SendEmail"
                    - "ses:SendRawEmail"
                  Resource: "*"
        RoleName: majestic-contactform-SendRole

